body {
    background: radial-gradient(45% 45% at 50% 50%,#0a1711,#030806);
    background-attachment: fixed;
}

.tavolo {
    background: linear-gradient(#2a6c65, #28625b) padding-box,
              linear-gradient( #7d425e, #723e57) border-box;
    border-radius: 1em 0 0 1em;
    border: 1em solid transparent;
    border-right: 0;
}


.navbar {
    background: rgba(40,98,91,0.2);
}




#create_table_b {
    background-color: rgba(125,249,255,0.6);
    border-radius: 6px;
    border:none;
}

#create_table_b:hover {
    background-color: rgba(125,249,255,0.7);
    transform: scale(1.02);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}


#ready_b {
    background-color: rgba(0,168,107,1);
    box-shadow: 0px 0px 15px 0px #00A86B;
    border-radius: 6px;
    border:none;
}

.ready {
    background-color: rgba(0,168,107,0.1) !important;
    box-shadow: none !important;
}


#ready_b:hover {
    background-color: rgba(0,168,107,0.25) !important;
    box-shadow: 0px 0px 15px 0px rgba(0,168,107,0.25) !important;
    transform: scale(1.01);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}



#quit_b {
    background-color: rgba(201,48,63,0.7);
    border-radius: 6px;
    border:none;
}

#quit_b:hover {
    background-color: rgba(201,48,63,0.8);
    transform: scale(1.03);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}





#invites-container {
    border: 1px solid rgba(40,98,91,0);
    border-radius: 10px;
}

#invites-container:hover {
    border: 1px solid rgba(40,98,91,0.2);
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.join-b {
    background: rgba(125,249,255,0.4);
    border: none;
}
.join-b:hover {
    background: rgba(125,249,255,0.6);
}


.invite-li {
    background-color: rgba(40,98,91,0.3);
    border-radius: 6px;
    border: 1px solid #7df9ff;
}

.invite-li:hover {
    background-color: rgba(40,98,91,0.4);
    transform: scale(1.02);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}




#div_friends {
    background: rgba(40,98,91,0.1);
}



.separator {
    border-top: 1px solid rgba(40,98,91,0.2);
}

.friend-container {
    background: rgba(40,98,91,0.1);
    border-radius: 10px;
}

.onlinefriend-li {
    background-color: rgba(125,249,255,0.5);
    border-radius: 6px;
}

.onlinefriend-li:hover {
    background-color: rgba(127,255,212,0.6);
    transform: scale(1.01);
    -webkit-transition: background-color 1s, transform 0.1s;
    -ms-transition: background-color 1s, transform 0.1s;
    transition: background-color 1s, transform 0.1s ;
}

.friend-li {
    background-color: rgba(40,98,91,0.3);
    border-radius: 6px;
}

.friend-li:hover {
    background-color: rgba(40,98,91,0.4);
    transform: scale(1.01);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}

.friend-b {
    background: rgba(40,98,91,0.5);
    border: none;
}
.friend-b:hover {
    background: rgba(40,98,91,0.9);
}


.remove-friend {
    background: rgba(255,255,255,0);
    border: none;
}
.remove-friend:hover {
    color: #c9303f !important;
}




#add_friend {
    background: rgba(40,98,91,0.1);
    border: none;
}

#add_friend_b {
    background: #2a6c65;
    border: none;
}




input::placeholder {
    color: rgba(255,255,255,0.65) !important;
}




#canvas_container {
    height: 92vh;
}

.full-screen {
    height: 100vh !important;
    width: 100vw !important;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}


  
.dis-none {
    transition: opacity 200ms, display 200ms;
    display: none;
    opacity: 0;
}



#div_moves {
    background: linear-gradient(to bottom right,rgba(40,98,91,1), rgba(18,53,36,0.7));
    border: 1px solid rgba(18,53,36,0);
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
}


#bet {
    background: rgba(125,249,255,0.1);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#bet_b {
    background: rgba(125,249,255,0.5);
    border: none;
}

#bet_b:hover {
    background: rgba(125,249,255,0.7);
    border: none;
}

#check_b {
    background: rgba(125,249,255,0.5);
    border-radius: 6px;
    border:none;
}

#check_b:hover {
    background: rgba(125,249,255,0.6);
    transform: scale(1.01);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}

#fold_b {
    background-color: rgba(201,48,63,0.8);
    border-radius: 6px;
    border:none;
}

#fold_b:hover {
    background-color: rgba(201,48,63,0.9);
    transform: scale(1.01);
    -webkit-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}